## if 문의 기본 구조
    if 조건식1:
        참일때 실행될 코드
    elif 조건식2:
        조건식1이 거짓, 조건식2가 참    
    else
        거짓일때 실행될 코드    

    if 조건식: 실행코드   <-한줄로 사용 가능

In [ ]:
age = 15
if age >= 14:
    print("가입 가능")
else:
    print("가입 불가")

가입 불가

In [4]:
if age >= 14: pass
else: print("가입 불가")

가입 불가

In [5]:
age >= 14 and age < 20

False

In [6]:
'A' in 'ABC'

True

In [7]:
fruits = ['사과','오렌지','멜론']

In [8]:
'멜론' in fruits

True

In [9]:
'망고' not in fruits

True

In [ ]:
result = 0
a = 0
while a<=100:
    result += a
    a += 1
print(result)

5050

In [13]:
result = 0
a = 0
while a<=100:
    if a % 2 == 0 : 
        a += 1
        continue
    
    result += a
    a += 1
print(result)

2500

In [14]:
fruits = ['Apple', 'Orange','Melon','Mango']

In [15]:
for fruit in fruits:
    print(fruit)

Apple
Orange
Melon
Mango

In [18]:
person = {"name": "이이름", "age": 40, "address":"주소"}

In [19]:
person.items()

dict_items([('name', '이이름'), ('age', 40), ('address', '주소')])

In [22]:
for item in person.items():
    print(item[0], item[1])

name 이이름
age 40
address 주소

In [23]:
for key, value in person.items():
    print(key, value)

name 이이름
age 40
address 주소

In [24]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [27]:
for i in range (2, 10): # 2~9
    print("-"*10, i, '단', "-"*10)
    for j in range(1, 10): # 1~9
        print(f"{i} X {j} = {i*j}")

---------- 2 단 ----------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---------- 3 단 ----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
---------- 4 단 ----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
---------- 5 단 ----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---------- 6 단 ----------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
---------- 7 단 ----------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
---------- 8 단 ----------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---------- 9 단 ----------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [28]:
nums = [1,2,3,4,5,6,7,8,9,10]
nums2 = []

In [29]:
for num in nums:
    nums2.append(num * num)

nums2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
nums3 = [num * num for num in nums]
nums3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
nums4 = [num * num for num in nums if num %2 == 0]
nums4

[4, 16, 36, 64, 100]